window.__ENV__ = {
  REACT_APP_SSO_SERVER_URL: "${REACT_APP_SSO_SERVER_URL}",
  REACT_APP_API_SERVER_URL: "${REACT_APP_API_SERVER_URL}",
  REACT_APP_OAUTH2_AUTH_URI: "${REACT_APP_OAUTH2_AUTH_URI}",
  REACT_APP_OAUTH2_CLIENT_ID: "${REACT_APP_OAUTH2_CLIENT_ID}",
  REACT_APP_OAUTH2_REDIRECT_URI: "${REACT_APP_OAUTH2_REDIRECT_URI}",
  REACT_APP_OAUTH2_SCOPE: "${REACT_APP_OAUTH2_SCOPE}"
};
